$accordion-margin-bottom: 0.25rem;
$accordion-last-margin-bottom: $base-line-height * 1rem;

$accordion-toggle-background-color: #222;
$accordion-toggle-color: #fafafa;
$accordion-toggle-padding-horizontal: 0.5rem;
$accordion-toggle-padding-vertical: 0.25rem;

$accordion-accordion-padding: 1rem;

.ce_accordion {
  margin-bottom: $accordion-margin-bottom;

  &:last-of-type {
    margin-bottom: $accordion-last-margin-bottom;
  }

  .toggler {
    background-color: $accordion-toggle-background-color;
    color: $accordion-toggle-color;
    cursor: pointer;
    font-weight: bold;
    outline: 0;
    padding: $accordion-toggle-padding-vertical $accordion-toggle-padding-horizontal;
  }

  .ui-accordion-header-icon {
    float: right;
  }

  .accordion {
    @include clear();

    padding: $accordion-accordion-padding;
  }

}
