$code-font-family: 'Courier New';
$code-font-family-fallback: monospace;

$pre-bg-color: #f4f5f1;
$pre-color: #222;
$pre-font-size: 0.75rem;
$pre-margin-bottom: $base-line-height * 1rem;
$pre-margin-top: 0;

code,
kdb,
pre,
samp {
  font-family: $code-font-family, $code-font-family-fallback;
  font-size: 1em;
}

pre {
  background-color: $pre-bg-color;
  color: $pre-color;
  display: block;
  font-size: $pre-font-size;
  margin-bottom: $pre-margin-bottom;
  margin-top: $pre-margin-top;
  overflow: auto;
  padding: 1rem;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
