$comments-info-margin-bottom: 0.5rem;

$comments-reply-margin-left: 1.5rem;
$comments-reply-margin-top: 0.5rem;

$comments-comment-default-margin-bottom: 1.5rem;

$comments-comment-border-left-color: #222;
$comments-comment-border-left-width: 0.125rem;
$comments-comment-padding-left: 1rem;

.ce_comments {

  .info {
    margin-bottom: $comments-info-margin-bottom;
  }

  .reply {
    margin-left: $comments-reply-margin-left;
    margin-top: $comments-reply-margin-top;
  }

  .comment_default {
    margin-bottom: $comments-comment-default-margin-bottom;
  }

  .comment {
    border-left: $comments-comment-border-left-width solid $comments-comment-border-left-color;
    padding-left: $comments-comment-padding-left;

    :last-child {
      margin-bottom: 0;
    }

  }

}
