$download-margin-bottom: $base-line-height * 1rem;

$download-anchor-padding-right: 1.5rem;

$download-mime-icon-margin-right: 0.5rem;
$download-mime-icon-margin-top: 0.25rem;

$download-size-font-size: 0.875rem;

.ce_download,
.ce_downloads {
  @include clear();

  margin-bottom: $download-margin-bottom;

  a {
    @include clear();

    background-image: url('#{$path-img}/icons/download.png');
    background-position: 100% 50%;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    padding-right: $download-anchor-padding-right;
  }

  .mime_icon {
    float: left;
    margin-right: $download-mime-icon-margin-right;
    margin-top: $download-mime-icon-margin-top;
  }

  .size {
    float: right;
    font-size: $download-size-font-size;
  }

}

.ce_downloads {

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {

  }

}
