$btn-bg-color: $color-primary;
$btn-color: $base-bg-color;

$btn-hover-bg-color: darken($btn-bg-color, 10%);
$btn-hover-color: inherit;

$input-bg-color: #f7f7f7;
$input-color: inherit;

::placeholder {
  color: $border-color;
}

input,
select,
textarea {
  background-image: none;
  border: 0;
  border-radius: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline-color: $color-primary;
  padding: 0;
}

input {
  box-shadow: none;
  transition: background-color 0.3s, color 0.3s;
  vertical-align: middle;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

label {
  color: inherit;
  display: inline-block;
  font: inherit;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: auto;
}

legend {
  border: 0;
  display: block;
  padding: 0 0.25rem;
  position: relative;
}

optgroup {
  color: inherit;
  font: inherit;
  font-weight: bold;
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  padding: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button,
.reset,
.submit {
  -webkit-appearance: button;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
}

fieldset {
  border: 1px solid $border-color;
  margin: 0;
  padding: 0.5rem;
  position: relative;
}

select {
  text-transform: none;
}

textarea {
  -webkit-appearance: none;
  height: auto;
  max-width: 100%;
  min-height: 10rem;
  overflow: auto;
  resize: none;
  vertical-align: top;
}

.captcha,
.text,
textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

.upload {
  border-radius: 0;
}

.radio {
  border-radius: 50%;
}

.formbody {

  > table {
    border-collapse: separate;
    border-spacing: 0.5rem;
    margin: -0.5rem;
  }

  td {
    vertical-align: top;
  }

  .widget {
    @include clear();

    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  fieldset {

  }

  label {
    display: block;
    order: -1;

    &.mandatory {

    }

  }

  legend {

  }

  span {

    &.mandatory {
      color: $color-error;
    }

  }

  p {

    &.error {
      color: $color-error;
    }

  }

  .headline {

  }

  .explanation {

  }

  select,
  textarea,
  .captcha,
  .text {
    background-color: $input-bg-color;
    border: 1px solid $border-color;
    color: $input-color;
    float: left;
    height: $base-line-height + (0.25em * 2); // fixes line-height issue in FF & on select tag
    padding: 0.25rem 0.5rem;
    width: 100%;

    &:hover {
      border-color: $border-hover-color;
    }

  }

  .text {

    &.mandatory {

    }

  }

  select {

    &.mandatory {

    }

  }

  textarea {

    &.mandatory {

    }

  }

  .upload {

    &.mandatory {

    }

  }

  .checkbox_container,
  .radio_container {
    // @include clear();
    // position: relative;

    // > span {

    //   @media (min-width: $media-xs) {
    //     float: left;
    //     width: (100% / 2);
    //   }

    //   @media (min-width: $media-sm) {
    //     width: (100% / 3);
    //   }

    // }

    label {
      display: block;
      overflow: hidden;
    }

  }

  .checkbox_container {

  }

  .radio_container {

  }

  .checkbox,
  .radio {
    float: left;
    height: 1rem;
    margin: 0.25rem 0.5rem 0 0.25rem;
  }

  .checkbox {

  }

  .radio {

  }

  .captcha {

  }

  .captcha_text {

  }

  .submit_container {
    @include clear();
  }

  .submit,
  .reset {
    background-color: $btn-bg-color;
    border: 1px solid transparent;
    color: $btn-color;
    height: $base-line-height + (0.25em * 2);
    padding: 0.25rem 0.5rem;

    &:hover,
    &:focus {
      background-color: $btn-hover-bg-color;
    }

  }

  .submit {
    float: right;
  }

  .reset {
    float: left;
  }

}

.tableless,
.tableform {

  select,
  textarea,
  .text,
  .upload {
    width: 100%;
  }

}


.ce_form {

}
