$h1-color: #222;
$h1-font-family-fallback: $base-font-family-fallback;
$h1-font-family: $base-font-family;
$h1-font-size: 2.5rem;
$h1-font-weight: 600;
$h1-line-height: 1.2;
$h1-margin-bottom: 1.5rem;
$h1-margin-top: 0;
$h1-text-transform: uppercase;

$h2-color: #222;
$h2-font-family-fallback: $base-font-family-fallback;
$h2-font-family: $base-font-family;
$h2-font-size: 2rem;
$h2-font-weight: 600;
$h2-line-height: 1.2;
$h2-margin-bottom: 0.5rem;
$h2-margin-top: 0;
$h2-text-transform: uppercase;

$h3-color: #222;
$h3-font-family-fallback: $base-font-family-fallback;
$h3-font-family: $base-font-family;
$h3-font-size: 1.5rem;
$h3-font-weight: 600;
$h3-line-height: 1.2;
$h3-margin-bottom: 0.5rem;
$h3-margin-top: 0;
$h3-text-transform: uppercase;

$h4-color: #222;
$h4-font-family-fallback: $base-font-family-fallback;
$h4-font-family: $base-font-family;
$h4-font-size: 1.25rem;
$h4-font-weight: 600;
$h4-line-height: 1.2;
$h4-margin-bottom: 0.5rem;
$h4-margin-top: 0;
$h4-text-transform: uppercase;

$h5-color: #222;
$h5-font-family-fallback: $base-font-family-fallback;
$h5-font-family: $base-font-family;
$h5-font-size: 1.125rem;
$h5-font-weight: 600;
$h5-line-height: 1.2;
$h5-margin-bottom: 0.5rem;
$h5-margin-top: 0;
$h5-text-transform: uppercase;

$h6-color: #222;
$h6-font-family-fallback: $base-font-family-fallback;
$h6-font-family: $base-font-family;
$h6-font-size: 1rem;
$h6-font-weight: 600;
$h6-line-height: 1.2;
$h6-margin-bottom: 0.5rem;
$h6-margin-top: 0;
$h6-text-transform: uppercase;

h1 {
  color: $h1-color;
  font-family: $h1-font-family, $h1-font-family-fallback;
  font-size: $h1-font-size;
  font-weight: $h1-font-weight;
  line-height: $h1-line-height;
  margin-bottom: $h1-margin-bottom;
  margin-top: $h1-margin-top;
  text-transform: $h1-text-transform;
}

h2 {
  color: $h2-color;
  font-family: $h2-font-family, $h2-font-family-fallback;
  font-size: $h2-font-size;
  font-weight: $h2-font-weight;
  line-height: $h2-line-height;
  margin-bottom: $h2-margin-bottom;
  margin-top: $h2-margin-top;
  text-transform: $h2-text-transform;
}

h3 {
  color: $h3-color;
  font-family: $h3-font-family, $h3-font-family-fallback;
  font-size: $h3-font-size;
  font-weight: $h3-font-weight;
  line-height: $h3-line-height;
  margin-bottom: $h3-margin-bottom;
  margin-top: $h3-margin-top;
  text-transform: $h3-text-transform;
}

h4 {
  color: $h4-color;
  font-family: $h4-font-family, $h4-font-family-fallback;
  font-size: $h4-font-size;
  font-weight: $h4-font-weight;
  line-height: $h4-line-height;
  margin-bottom: $h4-margin-bottom;
  margin-top: $h4-margin-top;
  text-transform: $h4-text-transform;
}

h5 {
  color: $h5-color;
  font-family: $h5-font-family, $h5-font-family-fallback;
  font-size: $h5-font-size;
  font-weight: $h5-font-weight;
  line-height: $h5-line-height;
  margin-bottom: $h5-margin-bottom;
  margin-top: $h5-margin-top;
  text-transform: $h5-text-transform;
}

h6 {
  color: $h6-color;
  font-family: $h6-font-family, $h6-font-family-fallback;
  font-size: $h6-font-size;
  font-weight: $h6-font-weight;
  line-height: $h6-line-height;
  margin-bottom: $h6-margin-bottom;
  margin-top: $h6-margin-top;
  text-transform: $h6-text-transform;
}

.ce_headline {

}
