$list-margin-bottom: $base-line-height * 1rem;
$list-margin-top: 0;
$list-padding-left: $base-line-height * 1rem;

$list-list-margin-bottom: 0.5rem;

dl,
ol,
ul {
  margin-bottom: $list-margin-bottom;
  margin-top: $list-margin-top;

  dl
  ol,
  ul {
    margin-bottom: $list-list-margin-bottom;
  }

}

ol,
ul {
  padding-left: $list-padding-left;
}

ul {
  list-style-type: square;
}

dd {
  margin: 0;
  padding-left: $list-padding-left;
}

.ce_list {

  .first {

  }

  .last {

  }

}
