audio {
  display: inline-block;
  vertical-align: baseline;

  :not([controls]) {
    display: none;
  }

}

video {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: baseline;
}


.ce_player {
  // height: auto;
  margin-bottom: 1.5rem;
  // max-width: 100%;
  // overflow: hidden;
  // padding-bottom: 100% / (16/9);
  // position: relative;

  // embed,
  // iframe,
  // object {
  //   height: 100%;
  //   left: 0;
  //   position: absolute;
  //   top: 0;
  //   width: 100%;
  // }

  // audio,
  // video {
  //   height: auto;
  //   max-width: 100%;
  //   width: auto;
  // }

}
