.ce_markdown {
  margin-bottom: $margin-elements-bottom;

  blockquote,
  hr,
  p,
  pre,
  ol,
  ul,
  table {
    margin-bottom: 1.5em;

    &:last-child {
      margin-bottom: 0;
    }

  }

  li {
    margin-bottom: .5em;

    ol,
    ul {
      margin-top: .5em;
    }

  }

  table {
    text-align: left;
  }

  td,
  th {
    border: 1px solid $color-border;
    padding: .5em;
    vertical-align: top;
  }

}
