.ce_text {
  @include clear();
  margin-bottom: $margin-elements-bottom - 1.5rem;

  blockquote,
  dl,
  hr,
  p,
  pre,
  ol,
  ul,
  table {
    margin-bottom: 1.5rem;
  }

  li {
    margin-bottom: .5rem;

    ol,
    ul {
      margin-top: .5rem;
    }

  }

  p {
    @include clear();

    img {
      float: none !important;
      margin: 0 0 1rem !important;
      max-width: 100% !important;
    }

  }

  table {
    text-align: left;
  }

  td,
  th {
    border: 1px solid $color-border;
    padding: .5rem;
    vertical-align: top;
  }

  @media (min-width: $media-tiny) {

    p {

      img[style="float: left;"],
      img[style="float: right;"] {
        max-width: 50% !important;
      }

      img[style="float: left;"] {
        float: left !important;
        margin-right: 1rem !important;
      }

      img[style="float: right;"] {
        float: right !important;
        margin-left: 1rem !important;
      }

    }

  }

}
