# Numerous always-ignore extensions
*.diff
*.err
*.log
*.map
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*~

# OS or Editor folders
*.esproj
*.sublime-project
*.sublime-workspace
.DS_Store
.Spotlight-V100
.Trashes
._*
.cache
.idea
.project
.settings
.tmproj
Desktop.ini
Thumb.db
Thumbs.db
nbproject

# Contao Files and Folders
.github
.tx
app
assets
check
contao
files/tiny_templates
files/tinymce.css
share
system
templates/.htaccess
templates/index.html
vendor
web

.htaccess.default
CHANGELOG.md
build.xml
composer.json
composer.lock
index.php
robots.txt
