.DS_Store
.Spotlight-V100
.Trashes
Desktop.ini
Thumb.db

*.log
.sass-cache
node_modules

*.sublime-project
*.sublime-workspace
.idea
.project
_nodes
*.map

files/THEME_NAME
source/THEME_NAME/css/styles.css
source/THEME_NAME/js/main.css