.grid_row {
  display: flex;
  flex-wrap: wrap;
  margin: $grid-gutter / -2;
}

.grid_col {
  flex-basis: 14rem;
  flex-grow: 1;
  margin: $grid-gutter / 2;
  min-height: 1px;
}

@media (min-width: $media-sm) {

  @for $i from 1 through $grid-columns {

    .grid_col_#{$i} {
      width: (100% / $grid-columns * $i - $grid-gutter);
    }

  }

}
