.inside {
  @include clear();
  margin: 0 auto;
  max-width: $grid-container;
  width: 90%;
}

.row {
  @include clear();
  margin-left: $grid-gutter / -2;
  margin-right: $grid-gutter / -2;
}

%col {
  height: auto;
  margin-left: $grid-gutter / 2;
  margin-right: $grid-gutter / 2;
  min-height: 1px;
}

@for $i from 1 through $grid-columns {

  .col--#{$i} {
    @extend %col;
  }

}

@media (min-width: $media-small) {

  @for $i from 1 through $grid-columns {

    .col--#{$i} {
      float: left;
      width: (100% / $grid-columns * $i - $grid-gutter);
    }

  }

}

@if (rtl == true) {

  html[dir="rtl"] {

    @media (min-width: $media-small) {

      @for $i from 1 through $grid-columns {

        .col--#{$i} {
          float: right;
        }

      }

    }

  }

}
