.icons {
  display: none;
}

.icon {
  display: inline-block;
  fill: $base-color;
  height: 1rem;
  vertical-align: middle;
  width: 1rem;
}

@for $i from 2 through 4 {

  .icon-#{$i}x {
    font-size: 1rem * $i;
  }

}
