* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }
  *:before, *:after {
    box-sizing: border-box; }

-moz-::-moz-selection,
::-moz-selection {
  background: #282828;
  color: #fff;
  text-shadow: none; }

-moz-::selection,
::selection {
  background: #282828;
  color: #fff;
  text-shadow: none; }

[hidden],
template {
  display: none; }

html {
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: grayscale;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

body {
  background: #fff;
  color: #282828;
  font: 400 1em/1.5em Arial, sans-serif;
  height: 100%;
  margin: 0;
  position: relative; }

article,
aside,
details,
dialog,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none; }

a {
  background-color: transparent;
  border: 0;
  color: #3498db;
  text-decoration: none;
  transition: background-color .3s, color .3s; }
  a:active, a:focus, a:hover, a:visited {
    border: 0;
    outline: 0; }
  a:hover, a:focus {
    color: #217dbb; }

em,
dfn {
  font-style: italic; }

b,
strong {
  font-weight: bold; }

blockquote {
  border-left: 3px solid #c8c8c8;
  margin: 0;
  padding-left: 1rem; }
  blockquote p {
    font-style: italic; }
    blockquote p:before {
      content: '\201C'; }

dl {
  margin: 0 0 .5rem; }

dd {
  margin: 0;
  padding-left: 1.5rem; }

button,
.reset,
.submit {
  -webkit-appearance: button;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: 400 1em/1.5em Arial, sans-serif;
  margin: 0;
  outline-color: #3498db;
  overflow: visible;
  text-transform: none; }

button {
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  padding: 0; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button[disabled],
input[disabled] {
  cursor: default; }

input,
select,
textarea {
  background-image: none;
  border: 0;
  border-radius: 0;
  color: inherit;
  font: 400 1em/1.5em Arial, sans-serif;
  margin: 0;
  outline-color: #3498db;
  padding: 0; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #c8c8c8; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #c8c8c8; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #c8c8c8; }

input::placeholder,
textarea::placeholder {
  color: #c8c8c8; }

input {
  box-shadow: none;
  transition: background-color .3s, color .3s;
  vertical-align: middle; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

optgroup {
  color: inherit;
  font: inherit;
  font-weight: bold;
  margin: 0; }

select {
  text-transform: none; }

textarea {
  -webkit-appearance: none;
  height: auto;
  max-width: 100%;
  min-height: 10rem;
  overflow: auto;
  resize: none;
  vertical-align: top; }

.captcha,
.text,
textarea {
  -webkit-appearance: none;
  border-radius: 0; }

.upload {
  border-radius: 0; }

.radio {
  border-radius: 50%; }

code,
kdb,
pre,
samp {
  font-family: "Courier New", monospace;
  font-size: 1rem; }

embed,
iframe,
object {
  border: 0;
  max-width: 100%;
  overflow: auto; }

fieldset {
  border: 1px solid #c8c8c8;
  margin: 0;
  padding: .5rem;
  position: relative; }

figure,
figcaption,
header,
section {
  margin: 0; }

footer {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: inherit, sans-serif;
  font-weight: 700; }

h1 {
  font-size: 2.5rem;
  line-height: 1.5em;
  margin: 0 0 .5rem; }

h2 {
  font-size: 2rem;
  line-height: 1.5em;
  margin: 0 0 .5rem; }

h3 {
  font-size: 1.5rem;
  line-height: 1.5em;
  margin: 0 0 .5rem; }

h4 {
  font-size: 1rem;
  line-height: 1.5em;
  margin: 0 0 .5rem; }

h5 {
  font-size: 0.75rem;
  line-height: 1.5em;
  margin: 0 0 .5rem; }

h6 {
  font-size: 0.5rem;
  line-height: 1.5em;
  margin: 0 0 .5rem; }

hr {
  background-color: #c8c8c8;
  border: 0;
  box-sizing: content-box;
  height: 1px;
  margin: 0 0 1.5rem; }

img {
  border: 0;
  display: block;
  height: auto;
  max-width: 100%; }

label {
  color: inherit;
  display: inline-block;
  font: inherit;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: auto; }

legend {
  border: 0;
  display: block;
  padding: 0 .25rem;
  position: relative; }

meter,
progress {
  width: 100%; }

ol,
ul {
  margin: 0 0 .5rem;
  padding: 0 0 0 1.5rem; }
  ol ol,
  ol ul,
  ul ol,
  ul ul {
    padding-left: 1.5rem; }

p {
  margin: 0 0 .5rem; }

pre {
  display: block;
  margin: 0;
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word; }

q {
  quotes: '\201C' '\201D' '\2018' '\2019'; }

small {
  font-size: .75rem; }

sub,
sup {
  font-size: .75rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5rem; }

sub {
  bottom: -.25rem; }

svg {
  height: auto;
  max-width: 100%; }

svg:not(:root) {
  overflow: hidden; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  width: 100%; }

caption,
td,
th {
  padding: 0;
  vertical-align: top; }

video {
  height: auto;
  max-width: 100%; }

#wrapper {
  display: table;
  height: 100%;
  width: 100%; }

#header {
  background: #fff;
  color: #282828;
  padding: 2rem 0; }

#main {
  padding-top: 2rem; }

#footer {
  background: #fff;
  color: #282828;
  padding: 2rem 0; }

.back:before, .back:after,
.more:before,
.more:after {
  content: ' ';
  display: table; }
.back:after,
.more:after {
  clear: both; }
.back a,
.more a {
  display: inline-block; }

.back a {
  float: left; }

.more a {
  float: right; }

.enclosure p:before, .enclosure p:after {
  content: ' ';
  display: table; }
.enclosure p:after {
  clear: both; }
.enclosure a {
  overflow: hidden; }
.enclosure .mime_icon {
  float: left;
  margin-right: .5rem;
  margin-top: 3px; }

.formbody > table {
  border-collapse: separate;
  border-spacing: .5rem;
  margin: -.5rem; }
.formbody td {
  vertical-align: top; }
.formbody .widget {
  margin-bottom: 1rem; }
  .formbody .widget:before, .formbody .widget:after {
    content: ' ';
    display: table; }
  .formbody .widget:after {
    clear: both; }
.formbody label {
  display: block; }
.formbody span.mandatory {
  color: #e74c3c; }
.formbody p.error {
  color: #e74c3c; }
.formbody select,
.formbody textarea,
.formbody .captcha,
.formbody .text {
  background-color: #f7f7f7;
  border: 1px solid #c8c8c8;
  color: #282828;
  float: left;
  height: 2em;
  padding: .25rem .5rem; }
  .formbody select:hover,
  .formbody textarea:hover,
  .formbody .captcha:hover,
  .formbody .text:hover {
    border-color: #afafaf; }
.formbody .checkbox_container,
.formbody .radio_container {
  position: relative; }
  .formbody .checkbox_container:before, .formbody .checkbox_container:after,
  .formbody .radio_container:before,
  .formbody .radio_container:after {
    content: ' ';
    display: table; }
  .formbody .checkbox_container:after,
  .formbody .radio_container:after {
    clear: both; }
  .formbody .checkbox_container > span,
  .formbody .radio_container > span {
    float: left;
    width: 100%; }
    @media (min-width: 30rem) {
      .formbody .checkbox_container > span,
      .formbody .radio_container > span {
        width: 50%; } }
    @media (min-width: 40rem) {
      .formbody .checkbox_container > span,
      .formbody .radio_container > span {
        width: 33.33333%; } }
  .formbody .checkbox_container label,
  .formbody .radio_container label {
    display: block;
    overflow: hidden; }
.formbody .checkbox,
.formbody .radio {
  float: left;
  height: 1rem;
  margin: .25rem .5rem 0 .25rem; }
.formbody .captcha {
  width: 100%; }
  @media (min-width: 40rem) {
    .formbody .captcha {
      float: left;
      width: 50%; } }
.formbody .captcha_text {
  padding: .25rem .5rem; }
.formbody .submit_container {
  margin: -.25rem; }
  .formbody .submit_container:before, .formbody .submit_container:after {
    content: ' ';
    display: table; }
  .formbody .submit_container:after {
    clear: both; }
.formbody .submit,
.formbody .reset {
  background-color: #3498db;
  border: 1px solid transparent;
  color: #fff;
  height: 2em;
  margin: .25rem;
  padding: .25rem 2rem; }
  .formbody .submit:hover, .formbody .submit:focus,
  .formbody .reset:hover,
  .formbody .reset:focus {
    background-color: #217dbb; }
.formbody .submit {
  float: right; }
.formbody .reset {
  float: left; }

.tableless select,
.tableless textarea,
.tableless .text,
.tableless .upload,
.tableform select,
.tableform textarea,
.tableform .text,
.tableform .upload {
  width: 100%; }

.image_container.float_above, .image_container.float_below {
  margin: 0 0 1rem; }
@media (min-width: 30rem) {
  .image_container.float_left, .image_container.float_right {
    margin: 0 0 1rem;
    max-width: 50%;
    width: auto; }
  .image_container.float_left {
    float: left;
    margin: 0 1rem 1rem 0; }
  .image_container.float_right {
    float: right;
    margin: 0 0 1rem 1rem; } }

.pagination {
  margin-top: 1rem; }
  .pagination:before, .pagination:after {
    content: ' ';
    display: table; }
  .pagination:after {
    clear: both; }
  .pagination ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .pagination li {
    display: inline-block;
    margin: 0 .5rem; }
  .pagination a {
    color: #282828; }
    .pagination a:hover {
      color: #3498db; }
  .pagination .current {
    color: #3498db; }
  @media (min-width: 30rem) {
    .pagination p {
      float: right; }
    .pagination ul {
      text-align: center; } }

.pdf_link {
  float: right;
  margin: 0 -.25rem; }
  .pdf_link:before, .pdf_link:after {
    content: ' ';
    display: table; }
  .pdf_link:after {
    clear: both; }
  .pdf_link a {
    float: left;
    padding: 0 .25rem; }

.ce_accordion {
  margin-bottom: .25rem !important; }
  .ce_accordion.last {
    margin-bottom: 2rem !important; }
  .ce_accordion .toggler {
    background-color: #f7f7f7;
    cursor: pointer;
    font-weight: bold;
    outline: 0;
    padding: .25rem .5rem; }
  .ce_accordion .accordion {
    padding: 1rem .5rem; }
    .ce_accordion .accordion:before, .ce_accordion .accordion:after {
      content: ' ';
      display: table; }
    .ce_accordion .accordion:after {
      clear: both; }

.ce_code {
  margin-bottom: 2rem; }

.ce_download,
.ce_downloads {
  margin-bottom: 2rem; }
  .ce_download:before, .ce_download:after,
  .ce_downloads:before,
  .ce_downloads:after {
    content: ' ';
    display: table; }
  .ce_download:after,
  .ce_downloads:after {
    clear: both; }
  .ce_download img,
  .ce_downloads img {
    float: left;
    margin-right: .5rem;
    margin-top: 3px; }
  .ce_download a,
  .ce_downloads a {
    background: url("/files/theme-name/img/icons/download.png") no-repeat 100% 50%;
    display: block;
    overflow: hidden;
    padding-right: 1.5rem; }
    .ce_download a:before, .ce_download a:after,
    .ce_downloads a:before,
    .ce_downloads a:after {
      content: ' ';
      display: table; }
    .ce_download a:after,
    .ce_downloads a:after {
      clear: both; }
  .ce_download .size,
  .ce_downloads .size {
    float: right;
    font-size: .875rem; }

.ce_downloads ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.ce_form {
  margin-bottom: 2rem; }

.ce_gallery {
  margin-bottom: 2rem; }
  .ce_gallery > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: -.25rem; }
    .ce_gallery > ul:before, .ce_gallery > ul:after {
      content: ' ';
      display: table; }
    .ce_gallery > ul:after {
      clear: both; }
    .ce_gallery > ul li {
      float: left;
      padding: .25rem;
      width: 50%; }
  .ce_gallery .cols_1 li {
    width: 100%; }
  @media (min-width: 30rem) {
    .ce_gallery .cols_3 li {
      width: 33.33333%; } }
  @media (min-width: 30rem) {
    .ce_gallery .cols_4 li {
      width: 33.33333%; } }
  @media (min-width: 40rem) {
    .ce_gallery .cols_4 li {
      width: 25%; } }
  @media (min-width: 30rem) {
    .ce_gallery .cols_5 li {
      width: 20%; } }
  @media (min-width: 30rem) {
    .ce_gallery .cols_6 li {
      width: 33.33333%; } }
  @media (min-width: 40rem) {
    .ce_gallery .cols_6 li {
      width: 16.66667%; } }
  @media (min-width: 30rem) {
    .ce_gallery .cols_7 li {
      width: 33.33333%; } }
  @media (min-width: 40rem) {
    .ce_gallery .cols_7 li {
      width: 14.28571%; } }
  @media (min-width: 30rem) {
    .ce_gallery .cols_8 li {
      width: 25%; } }
  @media (min-width: 40rem) {
    .ce_gallery .cols_8 li {
      width: 12.5%; } }
  @media (min-width: 30rem) {
    .ce_gallery .cols_9 li {
      width: 25%; } }
  @media (min-width: 40rem) {
    .ce_gallery .cols_9 li {
      width: 11.11111%; } }
  @media (min-width: 30rem) {
    .ce_gallery .cols_10 li {
      width: 20%; } }
  @media (min-width: 40rem) {
    .ce_gallery .cols_10 li {
      width: 10%; } }
  @media (min-width: 30rem) {
    .ce_gallery .cols_11 li {
      width: 25%; } }
  @media (min-width: 40rem) {
    .ce_gallery .cols_11 li {
      width: 9.09091%; } }
  @media (min-width: 30rem) {
    .ce_gallery .cols_12 li {
      width: 25%; } }
  @media (min-width: 40rem) {
    .ce_gallery .cols_12 li {
      width: 16.66667%; } }
  @media (min-width: 60rem) {
    .ce_gallery .cols_12 li {
      width: 8.33333%; } }
  .ce_gallery .image_container {
    margin: 0; }

.ce_hyperlink {
  margin-bottom: 2rem; }

.ce_image {
  margin-bottom: 2rem; }

.ce_list {
  margin-bottom: 2rem; }
  .ce_list ol,
  .ce_list ul {
    margin-bottom: 0; }
  .ce_list li {
    margin-bottom: .5rem; }

.ce_markdown {
  margin-bottom: 2rem; }
  .ce_markdown blockquote,
  .ce_markdown hr,
  .ce_markdown p,
  .ce_markdown pre,
  .ce_markdown ol,
  .ce_markdown ul,
  .ce_markdown table {
    margin-bottom: 1.5rem; }
    .ce_markdown blockquote:last-child,
    .ce_markdown hr:last-child,
    .ce_markdown p:last-child,
    .ce_markdown pre:last-child,
    .ce_markdown ol:last-child,
    .ce_markdown ul:last-child,
    .ce_markdown table:last-child {
      margin-bottom: 0; }
  .ce_markdown li {
    margin-bottom: .5rem; }
    .ce_markdown li ol,
    .ce_markdown li ul {
      margin-top: .5rem; }
  .ce_markdown table {
    text-align: left; }
  .ce_markdown td,
  .ce_markdown th {
    border: 1px solid #c8c8c8;
    padding: .5rem;
    vertical-align: top; }

.ce_player {
  margin-bottom: 2rem; }

.ce_sliderStart {
  margin-bottom: 2rem; }

.ce_table {
  margin-bottom: 2rem;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll; }
  .ce_table caption,
  .ce_table td,
  .ce_table th {
    border: 1px solid #c8c8c8;
    padding: .5rem; }
  .ce_table caption {
    font-weight: bold; }
  @media (min-width: 40rem) {
    .ce_table {
      -webkit-overflow-scrolling: none;
      overflow-x: none; } }

.ce_text {
  margin-bottom: 0.5rem; }
  .ce_text:before, .ce_text:after {
    content: ' ';
    display: table; }
  .ce_text:after {
    clear: both; }
  .ce_text blockquote,
  .ce_text dl,
  .ce_text hr,
  .ce_text p,
  .ce_text pre,
  .ce_text ol,
  .ce_text ul,
  .ce_text table {
    margin-bottom: 1.5rem; }
  .ce_text li {
    margin-bottom: .5rem; }
    .ce_text li ol,
    .ce_text li ul {
      margin-top: .5rem; }
  .ce_text p:before, .ce_text p:after {
    content: ' ';
    display: table; }
  .ce_text p:after {
    clear: both; }
  .ce_text p img {
    float: none !important;
    margin: 0 0 1rem !important;
    max-width: 100% !important; }
  .ce_text table {
    text-align: left; }
  .ce_text td,
  .ce_text th {
    border: 1px solid #c8c8c8;
    padding: .5rem;
    vertical-align: top; }
  @media (min-width: 30rem) {
    .ce_text p img[style="float: left;"],
    .ce_text p img[style="float: right;"] {
      max-width: 50% !important; }
    .ce_text p img[style="float: left;"] {
      float: left !important;
      margin-right: 1rem !important; }
    .ce_text p img[style="float: right;"] {
      float: right !important;
      margin-left: 1rem !important; } }

.ce_toplink {
  margin-bottom: 2rem; }

.ce_youtube {
  margin-bottom: 2rem; }
  .ce_youtube video {
    height: auto;
    max-width: 100%;
    width: auto; }

.mod_article:before, .mod_article:after {
  content: ' ';
  display: table; }
.mod_article:after {
  clear: both; }

.mod_booknav {
  margin-bottom: 2rem; }
  .mod_booknav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; }
  .mod_booknav li {
    display: inline-block;
    margin: 0 .5rem; }
  .mod_booknav .prev {
    margin-left: 0; }
  .mod_booknav .up {
    margin-right: 0; }

.mod_breadcrumb {
  margin-bottom: 2rem; }
  .mod_breadcrumb ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 0 -.5rem; }
    .mod_breadcrumb ul:before, .mod_breadcrumb ul:after {
      content: ' ';
      display: table; }
    .mod_breadcrumb ul:after {
      clear: both; }
  .mod_breadcrumb li {
    float: left;
    margin: 0 .5rem; }
  .mod_breadcrumb a {
    display: inline-block; }

.mod_calendar {
  margin-bottom: 2rem;
  text-align: center; }
  .mod_calendar th,
  .mod_calendar td {
    padding: .5rem; }

.mod_comments {
  margin-bottom: 2rem; }

.mod_customnav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.mod_eventmenu {
  margin-bottom: 2rem; }
  .mod_eventmenu ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .mod_eventmenu a {
    display: block; }

.mod_eventlist,
.mod_eventreader {
  margin-bottom: 2rem;
  position: relative; }
  .mod_eventlist .layout_full,
  .mod_eventlist .layout_list,
  .mod_eventlist .layout_teaser,
  .mod_eventlist .layout_upcoming,
  .mod_eventreader .layout_full,
  .mod_eventreader .layout_list,
  .mod_eventreader .layout_teaser,
  .mod_eventreader .layout_upcoming {
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 1rem;
    padding-bottom: .5rem; }
    .mod_eventlist .layout_full:before, .mod_eventlist .layout_full:after,
    .mod_eventlist .layout_list:before,
    .mod_eventlist .layout_list:after,
    .mod_eventlist .layout_teaser:before,
    .mod_eventlist .layout_teaser:after,
    .mod_eventlist .layout_upcoming:before,
    .mod_eventlist .layout_upcoming:after,
    .mod_eventreader .layout_full:before,
    .mod_eventreader .layout_full:after,
    .mod_eventreader .layout_list:before,
    .mod_eventreader .layout_list:after,
    .mod_eventreader .layout_teaser:before,
    .mod_eventreader .layout_teaser:after,
    .mod_eventreader .layout_upcoming:before,
    .mod_eventreader .layout_upcoming:after {
      content: ' ';
      display: table; }
    .mod_eventlist .layout_full:after,
    .mod_eventlist .layout_list:after,
    .mod_eventlist .layout_teaser:after,
    .mod_eventlist .layout_upcoming:after,
    .mod_eventreader .layout_full:after,
    .mod_eventreader .layout_list:after,
    .mod_eventreader .layout_teaser:after,
    .mod_eventreader .layout_upcoming:after {
      clear: both; }
    .mod_eventlist .layout_full:last-of-type,
    .mod_eventlist .layout_list:last-of-type,
    .mod_eventlist .layout_teaser:last-of-type,
    .mod_eventlist .layout_upcoming:last-of-type,
    .mod_eventreader .layout_full:last-of-type,
    .mod_eventreader .layout_list:last-of-type,
    .mod_eventreader .layout_teaser:last-of-type,
    .mod_eventreader .layout_upcoming:last-of-type {
      border-bottom: 0;
      margin-bottom: 2rem;
      padding-bottom: 0; }
  .mod_eventlist .layout_full .block:last-child,
  .mod_eventreader .layout_full .block:last-child {
    margin-bottom: 0; }
  .mod_eventlist .layout_teaser,
  .mod_eventreader .layout_teaser {
    overflow: hidden; }
  .mod_eventlist .header,
  .mod_eventreader .header {
    background-color: #f7f7f7;
    float: left;
    font-size: .875rem;
    margin-right: 1rem;
    padding: .25rem .5rem;
    text-align: center; }
  .mod_eventlist .day,
  .mod_eventreader .day {
    display: block; }
  .mod_eventlist .location,
  .mod_eventreader .location {
    margin-top: -2rem; }

.mod_navigation ul {
  list-style: none;
  margin: 0;
  padding: 0; }
.mod_navigation a,
.mod_navigation span {
  color: #282828;
  display: block; }
  .mod_navigation a:hover, .mod_navigation a:focus,
  .mod_navigation span:hover,
  .mod_navigation span:focus {
    color: #3498db; }
.mod_navigation span.active,
.mod_navigation span.trail {
  color: #3498db; }
  .mod_navigation span.active:hover, .mod_navigation span.active:focus,
  .mod_navigation span.trail:hover,
  .mod_navigation span.trail:focus {
    color: #217dbb; }

.nav-horizontal {
  white-space: nowrap; }
  .nav-horizontal ul:before, .nav-horizontal ul:after {
    content: ' ';
    display: table; }
  .nav-horizontal ul:after {
    clear: both; }
  .nav-horizontal li {
    position: relative; }
    .nav-horizontal li:hover > ul, .nav-horizontal li:focus > ul {
      display: block; }
    .nav-horizontal li ul {
      background: #fff;
      padding: .25rem .5rem;
      z-index: 999; }
  .nav-horizontal .level_2 {
    left: 0;
    top: 100%; }
  .nav-horizontal .level_3 {
    left: 100%;
    top: 0; }
  @media (min-width: 40rem) {
    .nav-horizontal li ul {
      display: none;
      position: absolute; }
    .nav-horizontal .level_1 > li {
      float: left;
      margin: 0 .5rem; }
      .nav-horizontal .level_1 > li.first {
        margin-left: 0; }
      .nav-horizontal .level_1 > li.last {
        margin-right: 0; } }

.mod_newsmenu ul {
  list-style: none;
  margin: 0;
  padding: 0; }
.mod_newsmenu a {
  display: block; }

.mod_newsarchive,
.mod_newslist,
.mod_newsreader {
  position: relative; }
  .mod_newsarchive .layout_full:before, .mod_newsarchive .layout_full:after,
  .mod_newsarchive .layout_latest:before,
  .mod_newsarchive .layout_latest:after,
  .mod_newsarchive .layout_simple:before,
  .mod_newsarchive .layout_simple:after,
  .mod_newsarchive .layout_short:before,
  .mod_newsarchive .layout_short:after,
  .mod_newslist .layout_full:before,
  .mod_newslist .layout_full:after,
  .mod_newslist .layout_latest:before,
  .mod_newslist .layout_latest:after,
  .mod_newslist .layout_simple:before,
  .mod_newslist .layout_simple:after,
  .mod_newslist .layout_short:before,
  .mod_newslist .layout_short:after,
  .mod_newsreader .layout_full:before,
  .mod_newsreader .layout_full:after,
  .mod_newsreader .layout_latest:before,
  .mod_newsreader .layout_latest:after,
  .mod_newsreader .layout_simple:before,
  .mod_newsreader .layout_simple:after,
  .mod_newsreader .layout_short:before,
  .mod_newsreader .layout_short:after {
    content: ' ';
    display: table; }
  .mod_newsarchive .layout_full:after,
  .mod_newsarchive .layout_latest:after,
  .mod_newsarchive .layout_simple:after,
  .mod_newsarchive .layout_short:after,
  .mod_newslist .layout_full:after,
  .mod_newslist .layout_latest:after,
  .mod_newslist .layout_simple:after,
  .mod_newslist .layout_short:after,
  .mod_newsreader .layout_full:after,
  .mod_newsreader .layout_latest:after,
  .mod_newsreader .layout_simple:after,
  .mod_newsreader .layout_short:after {
    clear: both; }
  .mod_newsarchive .layout_full .block:last-child,
  .mod_newslist .layout_full .block:last-child,
  .mod_newsreader .layout_full .block:last-child {
    margin-bottom: 0; }
  .mod_newsarchive .layout_latest .image_container,
  .mod_newslist .layout_latest .image_container,
  .mod_newsreader .layout_latest .image_container {
    margin-bottom: 1rem; }
    @media (min-width: 30rem) {
      .mod_newsarchive .layout_latest .image_container,
      .mod_newslist .layout_latest .image_container,
      .mod_newsreader .layout_latest .image_container {
        margin: 0;
        max-width: 10rem;
        width: auto; } }
  .mod_newsarchive .layout_simple time,
  .mod_newslist .layout_simple time,
  .mod_newsreader .layout_simple time {
    display: block; }
  .mod_newsarchive .layout_simple a,
  .mod_newslist .layout_simple a,
  .mod_newsreader .layout_simple a {
    display: block; }
  .mod_newsarchive .info,
  .mod_newslist .info,
  .mod_newsreader .info {
    font-size: .875rem;
    margin: 0; }
  .mod_newsarchive .teaser,
  .mod_newslist .teaser,
  .mod_newsreader .teaser {
    margin-bottom: 1rem;
    overflow: hidden; }

.mod_subscribe {
  margin-bottom: 2rem; }

.mod_unsubscribe {
  margin-bottom: 2rem; }

.mod_personalData {
  margin-bottom: 2rem; }

.fields {
  margin: -.5rem 0 1.5rem; }
  .fields > div {
    padding: .5rem 0; }

.mod_quicklink {
  margin-bottom: 2rem; }
  .mod_quicklink .formbody:before, .mod_quicklink .formbody:after {
    content: ' ';
    display: table; }
  .mod_quicklink .formbody:after {
    clear: both; }
  .mod_quicklink .select,
  .mod_quicklink .submit {
    float: left; }
  .mod_quicklink .select {
    width: 75%; }
  .mod_quicklink .submit {
    width: 25%; }

.mod_quicknav {
  margin-bottom: 2rem; }
  .mod_quicknav .formbody:before, .mod_quicknav .formbody:after {
    content: ' ';
    display: table; }
  .mod_quicknav .formbody:after {
    clear: both; }
  .mod_quicknav .select,
  .mod_quicknav .submit {
    float: left; }
  .mod_quicknav .select {
    width: 75%; }
  .mod_quicknav .submit {
    width: 25%; }

.mod_registration {
  margin-bottom: 2rem; }

.mod_search .formbody:before, .mod_search .formbody:after {
  content: ' ';
  display: table; }
.mod_search .formbody:after {
  clear: both; }
.mod_search .text,
.mod_search .submit {
  float: left; }
.mod_search .text {
  -webkit-appearance: textfield;
  padding: .5rem;
  width: 75%; }
.mod_search .submit {
  padding-left: 0;
  padding-right: 0;
  width: 25%; }
.mod_search .highlight {
  color: #3498db;
  font-style: italic; }

.mod_sitemap {
  margin-bottom: 2rem; }
  .mod_sitemap ul {
    list-style: none;
    margin: 0;
    padding: 0; }

.animate {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.animate-infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

.inside {
  margin: 0 auto;
  max-width: 78rem;
  width: 90%; }
  .inside:before, .inside:after {
    content: ' ';
    display: table; }
  .inside:after {
    clear: both; }

.row {
  margin-left: -1%;
  margin-right: -1%; }
  .row:before, .row:after {
    content: ' ';
    display: table; }
  .row:after {
    clear: both; }

.col--1, .col--2, .col--3, .col--4, .col--5, .col--6, .col--7, .col--8, .col--9, .col--10, .col--11, .col--12 {
  height: auto;
  margin-left: 1%;
  margin-right: 1%;
  min-height: 1px; }

@media (min-width: 40rem) {
  .col--1 {
    float: left;
    width: 6.33333%; }

  .col--2 {
    float: left;
    width: 14.66667%; }

  .col--3 {
    float: left;
    width: 23%; }

  .col--4 {
    float: left;
    width: 31.33333%; }

  .col--5 {
    float: left;
    width: 39.66667%; }

  .col--6 {
    float: left;
    width: 48%; }

  .col--7 {
    float: left;
    width: 56.33333%; }

  .col--8 {
    float: left;
    width: 64.66667%; }

  .col--9 {
    float: left;
    width: 73%; }

  .col--10 {
    float: left;
    width: 81.33333%; }

  .col--11 {
    float: left;
    width: 89.66667%; }

  .col--12 {
    float: left;
    width: 98%; } }
.icons {
  display: none; }

.icon {
  display: inline-block;
  fill: #282828;
  height: 1rem;
  vertical-align: middle;
  width: 1rem; }

.icon-2x {
  font-size: 2rem; }

.icon-3x {
  font-size: 3rem; }

.icon-4x {
  font-size: 4rem; }

.center-block {
  display: block;
  margin: 0 auto; }

.lower {
  text-transform: lowercase; }

.upper {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.invisible {
  left: -9999px;
  position: absolute;
  top: -9999px; }

.confirmation {
  color: #27ae60; }

.information {
  color: #95a5a6; }

.warning {
  color: #f1c40f; }

@media print {
  * {
    background: transparent;
    box-shadow: none;
    color: #282828;
    text-shadow: none; }

  a,
  a:visited {
    text-decoration: underline; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; }

  p,
  img,
  blockquote,
  pre,
  tr {
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  select {
    background: #fff; }

  .inside {
    width: auto; } }
