$html-font-size: 100%;

$body-background-color: $base-background-color;
$body-color: $base-color;
$body-font-family: $base-font-family;
$body-font-family-fallback: $base-font-family-fallback;
$body-font-size: $base-font-size;
$body-font-weight: $base-font-weight;
$body-line-height: $base-line-height;

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

-moz-::selection,
::selection {
  background: $body-color;
  color: $body-background-color;
  text-shadow: none;
}

html {
  box-sizing: border-box;
  font-size: $html-font-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: grayscale;
  height: 100%;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  background-color: $body-background-color;
  color: $body-color;
  display: flex;
  flex-direction: columns;
  font-family: $body-font-family, $body-font-family-fallback;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  margin: 0;
  min-height: 100%;
}
