$header-bg-color: $base-bg-color;
$header-color: $base-color;
$header-padding-vertical: 1rem;

header {
  display: block;
  margin: 0;
}

#header {
  background-color: $header-bg-color;
  color: $header-color;
  padding-bottom: $header-padding-vertical;
  padding-top: $header-padding-vertical;

  .inside {
    margin-left: auto;
    margin-right: auto;
    max-width: $grid-max-width;
    width: $grid-width;
  }

}
