.formbody {

  div {
    @include clear();

    &.mandatory {

    }

  }

  fieldset {

  }

  label {
    display: block;

    &.mandatory {

    }

  }

  legend {

  }

  span {

    &.mandatory {
      color: $color-error;
    }

  }

  p {

    &.error {
      color: $color-error;
    }

  }

  .headline {

  }

  .explanation {

  }

  select,
  textarea,
  .captcha,
  .text {
    background-color: $color-input-bg;
    border: 1px solid $color-border;
    color: $color-input;
    height: $line-height + (.25em * 2); // fixes line-height issue in FF & on select tag
    padding: .25em .5em;

    &:hover {
      border-color: $color-border-hover;
    }

  }

  select,
  textarea,
  .text,
  .upload {
    width: 100%;
  }

  .text {

    &.mandatory {

    }

  }

  select {

    &.mandatory {

    }

  }

  textarea {

    &.mandatory {

    }

  }

  .upload {

    &.mandatory {

    }

  }

  .checkbox_container,
  .radio_container {
    @include clear();
    position: relative;

    &> span {
      float: left;
      width: (100% / 3);

      @media screen and (max-width: $media-small) {
        width: (100% / 2);
      }

      @media screen and (max-width: $media-tiny) {
        width: (100% / 1);
      }

    }

    label {
      display: block;
      overflow: hidden;
    }

  }

  .checkbox_container {

  }

  .radio_container {

  }

  .checkbox,
  .radio {
    float: left;
    height: 1em;
    margin: .25em .5em 0 .25em;
  }

  .checkbox {

  }

  .radio {

  }

  .captcha,
  .captcha_text {
    float: left;
    width: (100% / 2);

    @media screen and (max-width: $media-tiny) {
      float: none;
      width: 100%;
    }

  }

  .captcha {

  }

  .captcha_text {
    padding: .25em .5em;
  }

  .submit_container {
    @include clear();
    margin: -.25em;
  }

  .submit,
  .reset {
    background-color: $color-btn-bg;
    border: 1px solid transparent;
    color: $color-btn;
    height: $line-height + (.25em * 2);
    margin: .25em;
    padding: .25em 2em;

    &:hover,
    &:focus {
      background-color: $color-btn-hover-bg;
    }

  }

  .submit {
    float: right;
  }

  .reset {
    float: left;
  }

}

.tableform {

  .formbody {

    &> table {
      border-collapse: separate;
      border-spacing: .5em;
      margin: -.5em;
    }

    td {
      vertical-align: top;
    }

  }

}

.tableless {

  .formbody {

    &> div {
      margin-bottom: 1em;
    }

  }

}
