.pdf_link {
  @include clear();
  float: right;
  margin: 0 -.25em;

  a {
    float: left;
    padding: 0 .25em;
  }

}

@if ($rtl) {

  .pdf_link {
    float: left;

    a {
      float: right;
    }

  }

}
