$button-background-color: #222;
$button-color: #fafafa;
$button-padding-horizontal: 0.5rem;
$button-padding-vertical: 0.25rem;

.back,
.more {
  display: flex;

  a {
    background-color: $button-background-color;
    color: $button-color;
    display: inline-block;
    padding: $button-padding-vertical $button-padding-horizontal;
  }

}

.back {

}

.more {
  justify-content: flex-end;
}
