$btn-bgcolor: $color-primary;
$btn-color: $color-bg;
$btn-hover-bgcolor: darken($btn-bgcolor, 10%);
$btn-hover-color: inherit;

.formbody {

  > table {
    border-collapse: separate;
    border-spacing: .5rem;
    margin: -.5rem;
  }

  td {
    vertical-align: top;
  }

  .widget {
    @include clear();

    margin-bottom: 1rem;
  }

  fieldset {

  }

  label {
    display: block;

    &.mandatory {

    }

  }

  legend {

  }

  span {

    &.mandatory {
      color: $color-error;
    }

  }

  p {

    &.error {
      color: $color-error;
    }

  }

  .headline {

  }

  .explanation {

  }

  select,
  textarea,
  .captcha,
  .text {
    background-color: $input-bgcolor;
    border: 1px solid $border-color;
    color: $input-color;
    float: left;
    height: $line-height + (.25em * 2); // fixes line-height issue in FF & on select tag
    padding: .25rem .5rem;

    &:hover {
      border-color: $border-hover-color;
    }

  }

  .text {

    &.mandatory {

    }

  }

  select {

    &.mandatory {

    }

  }

  textarea {

    &.mandatory {

    }

  }

  .upload {

    &.mandatory {

    }

  }

  .checkbox_container,
  .radio_container {
    @include clear();
    position: relative;

    > span {

      @media (min-width: $media-tiny) {
        float: left;
        width: (100% / 2);
      }

      @media (min-width: $media-small) {
        width: (100% / 3);
      }

    }

    label {
      display: block;
      overflow: hidden;
    }

  }

  .checkbox_container {

  }

  .radio_container {

  }

  .checkbox,
  .radio {
    float: left;
    height: 1rem;
    margin: .25rem .5rem 0 .25rem;
  }

  .checkbox {

  }

  .radio {

  }

  .captcha {

    @media (min-width: $media-small) {
      float: left;
      width: (100% / 2);
    }

  }

  .captcha_text {
    padding: .25rem .5rem;
  }

  .submit_container {
    @include clear();
    margin: -.25rem;
  }

  .submit,
  .reset {
    background-color: $btn-bgcolor;
    border: 1px solid transparent;
    color: $btn-color;
    height: $line-height + (.25em * 2);
    margin: .25rem;
    padding: .25rem 2rem;

    &:hover,
    &:focus {
      background-color: $btn-hover-bgcolor;
    }

  }

  .submit {
    float: right;
  }

  .reset {
    float: left;
  }

}

.tableless,
.tableform {

  select,
  textarea,
  .text,
  .upload {
    width: 100%;
  }

}
