.image_container {

  &.float_above,
  &.float_below {
    margin-bottom: 1rem;
  }

  @media (min-width: $media-tiny) {

    &.float_left,
    &.float_right {
      margin-bottom: 1rem;
      max-width: 50%;
      width: auto;
    }

    &.float_left {
      float: left;
      margin-right: 1rem;
    }

    &.float_right {
      float: right;
      margin-left: 1rem;
    }

  }

}
