$pagination-font-size: .75rem;
$pagination-margin-top: 1rem;

$pagination-item-margin: .125rem;

$pagination-anchor-border-color: #222;
$pagination-anchor-padding-horizontal: .125rem;
$pagination-anchor-padding-vertical: .5rem;

$pagination-current-color: $color-primary;

.pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: $pagination-font-size;
  justify-content: space-between;
  margin-top: $pagination-margin-top;

  p {
    margin: 0;
  }

  ul {
    list-style: none;
    margin: $pagination-item-margin * -1;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: $pagination-item-margin;
  }

  a,
  span {
    border: 1px solid $pagination-anchor-border-color;
    display: inline-block;
    padding: $pagination-anchor-padding-horizontal $pagination-anchor-padding-vertical;
  }

  a {
    background-color: #222;
    color: #fafafa;
  }

  .link {

  }

  .previous {

  }

  .next {

  }

  .current {
    color: #222;
  }

}
