$pagination-current-color: $color-primary;

.pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: .75rem;
  justify-content: space-between;
  margin-top: 1rem;

  p {
    margin: 0;
  }

  ul {
    list-style: none;
    margin: -.125rem;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: .125rem;
  }

  a,
  span {
    border: 1px solid #222;
    display: inline-block;
    padding: .125rem .5rem;
  }

  a {
    background-color: #222;
    color: #fafafa;
  }

  .link {

  }

  .previous {

  }

  .next {

  }

  .current {
    color: #222;
  }

}
