$pagination-current-color: $color-primary;

.pagination {
  @include clear();

  margin-top: 1rem;

  ul {
    @include list-unstyled();

    margin: -.5rem;
  }

  li {
    display: inline-block;
    margin: .5rem;
  }

  .link {

  }

  .previous {

  }

  .next {

  }

  .current {
    color: $pagination-current-color;
  }

  @media (min-width: $media-xs) {

    p {
      float: right;
    }

    ul {
      text-align: center;
    }

  }

}
