* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

  &:before,
  &:after {
    box-sizing: border-box;
  }

}

@include placeholder {
  color: $color-border;
  font-style: italic;
}

-moz-::selection,
::selection {
  background: $color;
  color: $color-bg;
  text-shadow: none;
}

[hidden],
template {
  display: none;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%;
  height: 100%;
  text-rendering: optimizeLegibility;
}

body {
  background: $color-bg;
  color: $color;
  font: $font-weight #{$font-size}/#{$line-height} $font-family, $font-family-fallback;
  height: 100%;
  margin: 0;
  position: relative;
}

article,
aside,
details,
dialog,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
}

a {
  background-color: transparent;
  border: 0;
  color: $color-link;
  text-decoration: none;
  transition: background-color .3s, color .3s;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    border: 0;
    outline: 0;
  }

  &:hover,
  &:focus {
    color: $color-link-hover;
  }

}

address,
em,
dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  border-left: 3px solid $color-border;
  margin: 0;
  padding-left: 1em;

  p {
    font-style: italic;

    &:before {
      content: '\201C';
    }

  }

  cite {

  }

}

dl {
  margin: 0 0 .5em;
}

dd {
  margin: 0;
  padding-left: 1.5em;
}

button,
.reset,
.submit {
  -webkit-appearance: button;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: $font-weight #{$font-size}/#{$line-height} $font-family, $font-family-fallback;
  margin: 0;
  outline-color: $color-link;
  overflow: visible;
  text-transform: none;
}

button {
  background-image: none;
  border-radius: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input,
select,
textarea {
  background-image: none;
  border: 0;
  border-radius: 0;
  color: inherit;
  font: $font-weight #{$font-size}/#{$line-height} $font-family, $font-family-fallback;
  margin: 0;
  outline-color: $color-primary;
  padding: 0;
}

input {
  box-shadow: none;
  transition: background-color .3s, color .3s;
  vertical-align: middle;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

optgroup {
  color: inherit;
  font: inherit;
  font-weight: bold;
  margin: 0;
}

select {
  text-transform: none;
}

textarea {
  -webkit-appearance: none;
  height: auto;
  min-height: 10em;
  overflow: auto;
  resize: none;
  vertical-align: top;
}

.captcha,
.text,
textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

.upload {
  border-radius: 0;
}

.radio {
  border-radius: 50%;
}

code,
kdb,
pre,
samp {
  font-family: $font-family-code, $font-family-code-fallback;
  font-size: 1em;
}

embed,
iframe,
object {
  border: 0;
  max-width: 100%;
  overflow: auto;
}

fieldset {
  border: 1px solid $color-border;
  margin: 0;
  padding: .5em;
  position: relative;
}

figure,
figcaption,
header,
section {
  margin: 0;
}

footer {
  margin: 0;
  padding: 0;
}

%headings {
  color: inherit;
  font-family: $font-family-headings, $font-family-fallback;
  font-weight: $font-weight-headings;
}

@for $i from 1 through length($font-size-headings) {

  h#{$i} {
    @extend %headings;
    font-size: nth($font-size-headings, $i);
    line-height: 1em + (1 / (nth($font-size-headings, $i) / .5em));
    margin: 0 0 1em / (nth($font-size-headings, $i) / .5em);
  }

}

hr {
  background-color: $color-border;
  border: 0;
  box-sizing: content-box;
  height: 1px;
  margin: 0 0 1.5em;
}

img {
  border: 0;
  display: block;
  height: auto;
  max-width: 100%;
  width: auto;
}

label {
  color: inherit;
  display: inline-block;
  font: inherit;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: auto;
}

legend {
  border: 0;
  display: block;
  padding: 0 .25em;
  position: relative;
}

meter,
progress {
  width: 100%;
}

ol,
ul {
  list-style-position: inside;
  margin: 0 0 .5em;
  padding: 0;

  ol,
  ul {
    padding-left: 1.5em;
  }

}

p {
  margin: 0 0 .5em;
}

pre {
  display: block;
  margin: 0;
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

q {
  quotes: '\201C' '\201D' '\2018' '\2019';
}

small {
  font-size: .75em;
}

sub,
sup {
  font-size: .75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

svg {
  height: auto;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  width: 100%;
}

caption,
td,
th {
  padding: 0;
  vertical-align: top;
}

video {
  height: auto;
  max-width: 100%;
}
