// Base

$color: #282828;
$color-bg: #fff;

$color-primary: #3498db;
$color-primary-hover: darken($color-primary, 10%);

$color-confirmation: #27ae60;
$color-confirmation-hover: darken($color-confirmation, 10%);

$color-error: #e74c3c;
$color-error-hover: darken($color-error, 10%);

$color-information: #95a5a6;
$color-information-hover: darken($color-information, 10%);

$color-warning: #f1c40f;
$color-warning-hover: darken($color-warning, 10%);

$color-link: $color-primary;
$color-link-hover: darken($color-link, 10%);

$color-border: #c8c8c8;
$color-border-hover: darken($color-border, 10%);

// Layout

$color-header: $color;
$color-header-bg: $color-bg;

$color-footer: $color;
$color-footer-bg: $color-bg;

// Elements

$color-btn: $color-bg;
$color-btn-bg: $color-primary;
$color-btn-hover: inherit;
$color-btn-hover-bg: darken($color-btn-bg, 10%);

$color-input: $color;
$color-input-bg: #f7f7f7;
