.icons {
  display: none;
}

.icon {
  display: inline-block;
  fill: $color;
  height: 1em;
  vertical-align: middle;
  width: 1em;
}

@for $i from 2 through 4 {

  .icon-#{$i}x {
    font-size: 1em * $i;
  }

}
