.mod_breadcrumb {
  margin-bottom: $margin-elements-bottom;

  ul {
    @include clear();
    @include list-unstyled();
    margin: 0 -.5em;
  }

  li {
    float: left;
    margin: 0 .5em;
  }

  a {
    display: inline-block;
  }

  .active {

  }

}

@if ($rtl) {

  .mod_breadcrumb {

    li {
      float: right;
    }

  }

}
