/*---------- BREADCRUMB ----------*/

.mod_breadcrumb {
  margin-bottom: $margin-elements-bottom;

  ul {
    @include clear();
    @include list-unstyled();
  }

  li {
    background: url('#{$path-img}/icons/breadcrumb.png') no-repeat 100% 50%;
    float: left;
    margin-right: .5em;
    padding-right: .75em;

    &.first {
      margin-left: 0;
    }

    &.last {
      background: none;
      margin-right: 0;
      padding: 0;
    }

  }

  a {
    display: inline-block;
  }

  .active {

  }

}
