.mod_calendar {
  margin-bottom: $margin-elements-bottom;
  text-align: center;

  table {

  }

  thead {

  }

  tbody {

  }

  tr {

    &.first {

    }

    &.last {

    }

  }

  th,
  td {
    padding: .5rem;
  }

  th {

  }

  td {

    &.col_first {

    }

    &.col_last {

    }

  }

  .calendar {

  }

  .minicalendar {

  }

  .head {

  }

  .previous,
  .next {

    a {

    }

  }

  .previous {

  }

  .next {

  }

  .current {

  }

  .days {

  }

  .empty {

  }

  .weekend {

  }

  .today {

  }

  .active {

    a {

    }

  }

}
