.mod_navigation {

  ul {
    @include list-unstyled();
  }

  a,
  span {
    color: $color;
    display: block;

    &:hover,
    &:focus {
      color: $color-primary;
    }

  }

  span.active,
  span.trail {
    color: $color-primary;

    &:hover,
    &:focus {
      color: $color-primary-hover;
    }

  }

}

.nav-horizontal {
  white-space: nowrap;

  ul {
    @include clear();
  }

  li {
    position: relative;

    &:hover,
    &:focus {

      > ul {
        display: block;
      }

    }

    ul {
      background: $color-bg;
      padding: .25em .5em;
      z-index: $z-index-submenu;
    }

  }

  .level_2 {
    left: 0;
    top: 100%;
  }

  .level_3 {
    left: 100%;
    top: 0;
  }

  @media (min-width: $media-small) {

    li {

      ul {
        display: none;
        position: absolute;
      }

    }

    .level_1 {

      > li {
        float: left;
        margin: 0 .5em;

        &.first {
          margin-left: 0;
        }

        &.last {
          margin-right: 0;
        }

      }

    }

  }

}

@if ($rtl) {

  .nav-horizontal {

    @media (min-width: $media-small) {

      .level_1 {

        > li {
          float: right;
        }

      }

    }

  }

}
