.mod_newsarchive {

}

.mod_newslist {

}

.mod_newsmenu {

  ul {
    @include list-unstyled();
  }

  a {
    display: block;
  }

}

.mod_newsreader {

}

.mod_newsarchive,
.mod_newslist,
.mod_newsreader {
  position: relative;

  .layout_full,
  .layout_latest,
  .layout_simple,
  .layout_short {
    @include clear();
  }

  .layout_full {

    .block {

      &:last-child {
        margin-bottom: 0;
      }

    }

  }

  .layout_latest {

    .image_container {
      margin-bottom: 1em;

      @media (min-width: $media-tiny) {
        margin: 0;
        max-width: 10em;
        width: auto;
      }

    }

  }

  .layout_simple {

    time {
      display: block;
    }

    a {
      display: block;
    }

  }

  .layout_short {

  }

  .info {
    font-size: .875em;
    margin: 0;
  }

  .teaser {
    margin-bottom: 1em;
    overflow: hidden;
  }

}
