.ce_accessible_tabs {
  margin-bottom: $margin-elements-bottom;

  .tabs-list {
    @extend %clear;
    @extend %list-unstyled;

    li {
      float: left;
      padding: .5em 1em;

      &.first {
        margin-left: 0;
      }

      &.last {
        margin-right: 0;
      }

      &.current {

      }

    }

    a {
      display: block;
    }

    .current-info {
      display: none;
    }

  }

  .content {

  }

  .tabhead {
    outline: none;
  }

  .tabbody {

  }

}

.ce_accessible_tabs_start {

}
