.ce_caroufredsel {

}

.ce_caroufredsel_gallery {
  margin-bottom: $margin-elements-bottom;
}

.ce_caroufredsel_background {

}

.ce_caroufredsel_start {
  margin-bottom: $margin-elements-bottom;
}

.caroufredsel_skin {
  position: relative;
}

.caroufredsel_wrapper {

}

.caroufredsel {

}

.caroufredsel_gallery {

  .image_container {

  }

}

.caroufredsel_controls {

}

.caroufredsel_navi {

}

.caroufredsel_prev {

  span {

  }

}

.caroufredsel_next {

  span {

  }

}

.caroufredsel_pagi {

  a {

    span {

    }


  }

  .selected {

  }

}

.caroufredsel_thumbnails_skin {

}

.caroufredsel_thumbnails_wrapper {

}

.caroufredsel_thumbnails {

}

.caroufredsel_thumbnail {

  &.visible {

  }

  &.selected {

  }

  .image_container {

  }

}

.caroufredsel_thumbnails_controls {

}

.caroufredsel_thumbnails_navi {

}

.caroufredsel_thumbnails_prev {

  span {

  }

}

.caroufredsel_thumbnails_next {

  span {

  }

}
