.ce_caroufredsel {

}

.ce_caroufredsel_gallery {
  margin-bottom: $margin-elements-bottom;
}

.ce_caroufredsel_background {

}

.ce_caroufredsel_start {
  margin-bottom: $margin-elements-bottom;
}

.caroufredsel_skin {
  position: relative;
}

.caroufredsel_wrapper {

}

.caroufredsel {

}

.caroufredsel_gallery {

  .image_container {

  }

}

.caroufredsel_controls {

}

.caroufredsel_navi {

}

.caroufredsel_prev {

  span {

  }

}

.caroufredsel_next {

  span {

  }

}

.caroufredsel_pagi {

  a {

    span {

    }


  }

  .selected {

  }

}

.caroufredsel_thumbnails_skin {

}

.caroufredsel_thumbnails_wrapper {

}

.caroufredsel_thumbnails {

}

.caroufredsel_thumbnail {

  &.visible {

  }

  &.selected {

  }

  .image_container {

  }

}

.caroufredsel_thumbnails_controls {

}

.caroufredsel_thumbnails_navi {

}

.caroufredsel_thumbnails_prev {

  span {

  }

}

.caroufredsel_thumbnails_next {

  span {

  }

}

// .caroufredsel_prev,
// .caroufredsel_next {
//   height: 100%;
//   position: absolute;
//   top: 0;
//   width: 25%;

//   span {
//     position: absolute;
//     top: 50%;
//   }

// }

// .caroufredsel_prev {
//   left: 0;

//   span {
//     left: 1em;
//   }

// }

// .caroufredsel_next {
//   right: 0;

//   span {
//     right: 1em;
//   }

// }

// .caroufredsel_pagi {
//   bottom: 1em;
//   position: absolute;
//   text-align: center;
//   width: 100%;

//   a {
//     display: inline-block;
//     *display: inline;
//     *zoom: 1;
//     padding: .5em;
//   }

// }
