.ce_tabcontrol {

  .tabcontrol_tabs {

    ul {
      @include clear();
      @include list-unstyled();
      margin: 0 -1em;
    }

  }

  .tabs {
    float: left;
    padding: .5em 1em;
  }

  .selected {

  }

  .tabcontrol_panes {

  }

  .ce_tabcontrol_pane {

  }

  .panes {

  }

}
