.back,
.more {
  @include clear();

  a {
    display: inline-block;
  }

}

.back {

  a {
    float: left;
  }

}

.more {

  a {
    float: right;
  }

}

@if ($rtl) {

  html[dir="rtl"] {

    .back {
      a {
        float: right;
      }

    }

    .more {
      a {
        float: right;
      }

    }

  }

}
