.ce_accordion {
  margin-bottom: .25rem !important;

  &.last {
    margin-bottom: $margin-elements-bottom !important;
  }

  .toggler {
    background-color: $color-input-bg;
    cursor: pointer;
    font-weight: bold;
    outline: 0;
    padding: .25rem .5rem;
  }

  .accordion {
    @include clear();

    padding: 1rem .5rem;
  }

}
