$font-family-code: 'Courier New';
$font-family-code-fallback: monospace;

code,
kdb,
pre,
samp {
  font-family: $font-family-code, $font-family-code-fallback;
  font-size: 1em;
}

pre {
  display: block;
  margin-bottom: 1.5rem;
  margin-top: 0;
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
