$code-font-family: 'Courier New';
$code-font-family-fallback: monospace;

$pre-margin-bottom: $base-line-height * 1rem;
$pre-margin-top: 0;

code,
kdb,
pre,
samp {
  font-family: $code-font-family, $code-font-family-fallback;
  font-size: 1em;
}

pre {
  display: block;
  margin-bottom: $pre-margin-bottom;
  margin-top: $pre-margin-top;
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
