.ce_download,
.ce_downloads {
  @include clear();

  margin-bottom: $margin-elements-bottom;

  a {
    @include clear();

    background: url('#{$path-img}/icons/download.png') no-repeat 100% 50%;
    display: block;
    overflow: hidden;
    padding-right: 1.5rem;
  }

  .mime_icon {
    float: left;
    margin-right: .5rem;
    margin-top: 3px;
  }

  .size {
    float: right;
    font-size: .875rem;
  }

}

.ce_downloads {

  ul {
    @include list-unstyled();
  }

  li {

  }

}
