.ce_gallery {
  margin-bottom: $margin-elements-bottom;

  > ul {
    @include clear();
    @include list-unstyled();

    margin: -.25rem;

    li {
      float: left;
      padding: .25rem;
      width: (100% / 2);
    }

  }

  .cols_1 {

    li {
      width: (100% / 1);
    }

  }

  .cols_3 {

    li {

      @media (min-width: $media-tiny) {
        width: (100% / 3);
      }

    }

  }

  .cols_4 {

    li {

      @media (min-width: $media-tiny) {
        width: (100% / 3);
      }

      @media (min-width: $media-small) {
        width: (100% / 4);
      }

    }

  }

  .cols_5 {

    li {

      @media (min-width: $media-tiny) {
        width: (100% / 5);
      }

    }

  }

  .cols_6 {

    li {

      @media (min-width: $media-tiny) {
        width: (100% / 3);
      }

      @media (min-width: $media-small) {
        width: (100% / 6);
      }

    }

  }

  .cols_7 {

    li {

      @media (min-width: $media-tiny) {
        width: (100% / 3);
      }

      @media (min-width: $media-small) {
        width: (100% / 7);
      }

    }

  }

  .cols_8 {

    li {

      @media (min-width: $media-tiny) {
        width: (100% / 4);
      }

      @media (min-width: $media-small) {
        width: (100% / 8);
      }

    }

  }

  .cols_9 {

    li {

      @media (min-width: $media-tiny) {
        width: (100% / 4);
      }

      @media (min-width: $media-small) {
        width: (100% / 9);
      }

    }

  }

  .cols_10 {

    li {

      @media (min-width: $media-tiny) {
        width: (100% / 5);
      }

      @media (min-width: $media-small) {
        width: (100% / 10);
      }

    }

  }

  .cols_11 {

    li {

      @media (min-width: $media-tiny) {
        width: (100% / 4);
      }

      @media (min-width: $media-small) {
        width: (100% / 11);
      }

    }

  }

  .cols_12 {

    li {

      @media (min-width: $media-tiny) {
        width: (100% / 4);
      }

      @media (min-width: $media-small) {
        width: (100% / 6);
      }

      @media (min-width: $media-medium) {
        width: (100% / 12);
      }

    }

  }

  .image_container {

  }

  .row_first {

  }

  .row_last {

  }

  .even {

  }

  .odd {

  }

}
