$gallery-item-gutter: 1%;

.ce_gallery {
  margin-bottom: 1.5rem;

  > ul {
    @include clear();

    list-style: none;
    margin: $gallery-item-gutter / -2;
    padding: 0;

    li {
      float: left;
      margin: $gallery-item-gutter / 2;
      width: (100% / 2 - $gallery-item-gutter);
    }

  }

  .cols_1 {

    li {
      width: (100% / 1 - $gallery-item-gutter);
    }

  }

  .cols_3 {

    li {

      @media (min-width: $media-xs) {
        width: (100% / 3 - $gallery-item-gutter);
      }

    }

  }

  .cols_4 {

    li {

      @media (min-width: $media-xs) {
        width: (100% / 3 - $gallery-item-gutter);
      }

      @media (min-width: $media-sm) {
        width: (100% / 4 - $gallery-item-gutter);
      }

    }

  }

  .cols_5 {

    li {

      @media (min-width: $media-xs) {
        width: (100% / 5 - $gallery-item-gutter);
      }

    }

  }

  .cols_6 {

    li {

      @media (min-width: $media-xs) {
        width: (100% / 3 - $gallery-item-gutter);
      }

      @media (min-width: $media-sm) {
        width: (100% / 6 - $gallery-item-gutter);
      }

    }

  }

  .cols_7 {

    li {

      @media (min-width: $media-xs) {
        width: (100% / 3 - $gallery-item-gutter);
      }

      @media (min-width: $media-sm) {
        width: (100% / 7 - $gallery-item-gutter);
      }

    }

  }

  .cols_8 {

    li {

      @media (min-width: $media-xs) {
        width: (100% / 4 - $gallery-item-gutter);
      }

      @media (min-width: $media-sm) {
        width: (100% / 8 - $gallery-item-gutter);
      }

    }

  }

  .cols_9 {

    li {

      @media (min-width: $media-xs) {
        width: (100% / 4 - $gallery-item-gutter);
      }

      @media (min-width: $media-sm) {
        width: (100% / 9 - $gallery-item-gutter);
      }

    }

  }

  .cols_10 {

    li {

      @media (min-width: $media-xs) {
        width: (100% / 5 - $gallery-item-gutter);
      }

      @media (min-width: $media-sm) {
        width: (100% / 10 - $gallery-item-gutter);
      }

    }

  }

  .cols_11 {

    li {

      @media (min-width: $media-xs) {
        width: (100% / 4 - $gallery-item-gutter);
      }

      @media (min-width: $media-sm) {
        width: (100% / 11 - $gallery-item-gutter);
      }

    }

  }

  .cols_12 {

    li {

      @media (min-width: $media-xs) {
        width: (100% / 4 - $gallery-item-gutter);
      }

      @media (min-width: $media-sm) {
        width: (100% / 6 - $gallery-item-gutter);
      }

      @media (min-width: $media-md) {
        width: (100% / 12 - $gallery-item-gutter);
      }

    }

  }

  .image_container {

  }

  .row_first {

  }

  .row_last {

  }

  .even {

  }

  .odd {

  }

}
