$anchor-color: $color-primary;
$anchor-text-decoration: none;

$anchor-hover-color: darken($anchor-color, 10%);

a {
  background-color: transparent;
  border: 0;
  color: $anchor-color;
  outline: 0;
  text-decoration: $anchor-text-decoration;
  transition: background-color .3s, color .3s;

  &:hover,
  &:focus {
    color: $anchor-hover-color;
  }

}

.ce_hyperlink {

  .hyperlink_txt {

  }

  .hyperlink_img {

  }

}
