dl {
  margin-bottom: 1.5rem;
  margin-top: 0;
}

dd {
  margin: 0;
  padding-left: 1.5rem;
}

ol,
ul {
  margin-bottom: 1.5rem;
  margin-top: 0;
  padding-left: 1.5rem;
}

ul {
  list-style-type: square;
}

.ce_list {

  .first {

  }

  .last {

  }

}
