table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5rem;
  text-align: left;
  width: 100%;
}

caption,
td,
th {
  padding: 0;
  vertical-align: top;
}


.ce_table {

  thead {

  }

  tfoot {

  }

  tr {

    &.even {

    }

    &.odd {

    }

    &.unsortable {

    }

  }

  caption,
  td,
  th {
    border: 1px solid $border-color;
    padding: .5rem;
  }

  th {

    &.first {

    }

    &.last {

    }

  }

  td {

    &.first {

    }

    &.last {

    }

  }

  caption {
    font-weight: bold;
  }

  .sortable {

  }

  .row_first {

  }

  .row_last {

  }

  .col_first {

  }

  .col_last {

  }

  .header {

  }

}
