.mod_booknav {
  margin-bottom: $margin-elements-bottom;

  ul {
    @include list-unstyled();

    margin: -.5rem;
    text-align: center;
  }

  li {
    display: inline-block;
    margin: .5rem;
  }

  a {

  }

  .prev {

  }

  .next {

  }

  .up {

  }

}
