.mod_booknav {

  ul {
    list-style: none;
    margin: -.5rem;
    padding: 0;
    text-align: center;
  }

  li {
    display: inline-block;
    margin: .5rem;
  }

  a {

  }

  .prev {

  }

  .next {

  }

  .up {

  }

}
