$booknav-item-margin: .5rem;

.mod_booknav {

  ul {
    list-style: none;
    margin: $booknav-item-margin * -1;
    padding: 0;
    text-align: center;
  }

  li {
    display: inline-block;
    margin: $booknav-item-margin;
  }

  a {

  }

  .prev {

  }

  .next {

  }

  .up {

  }

}
