.mod_breadcrumb {
  margin-bottom: $margin-elements-bottom;

  ul {
    @include clear();
    @include list-unstyled();

    margin: -.5rem;
  }

  li {
    float: left;
    margin: .5rem;
  }

  a {
    display: inline-block;
  }

  .active {

  }

}
