$breadcrumb-item-margin: 0.25rem;
$breadcrumb-item-padding-right: 1rem;

.mod_breadcrumb {

  ul {
    list-style: none;
    margin: $breadcrumb-item-margin * -1;
    padding: 0;
  }

  li {
    background-image: url('#{$path-img}/icons/breadcrumb.png');
    background-position: 100% 50%;
    background-repeat: no-repeat;
    display: inline-block;
    margin: $breadcrumb-item-margin;
    padding-right: $breadcrumb-item-padding-right;
  }

  .last {
    background-image: none;
    padding-right: 0;
  }

  a {
    display: inline-block;
  }

  .active {

  }

}
