$change-password-background-color: #f4f5f1;
$change-password-margin-bottom: $base-line-height * 1rem;
$change-password-padding: 5%;

.mod_changePassword {
  background-color: $change-password-background-color;
  margin-bottom: $change-password-margin-bottom;
  padding: $change-password-padding;
}
