.ce_comments {

  .info {
    margin-bottom: .5rem;
  }

  .reply {
    margin-top: .5rem;
    margin-left: 1.5rem;
  }

  .comment_default {
    margin-bottom: 1.5rem;
  }

  .comment {
    border-left: .125rem solid #222;
    padding-left: 1rem;

    :last-child {
      margin-bottom: 0;
    }

  }

}
