.mod_eventlist {

  .event {

  }

}

.mod_eventmenu {
  margin-bottom: $margin-elements-bottom;

  ul {
    @include list-unstyled();
  }

  a {
    display: block;
  }

  .submenu {

  }

  .year {

  }

}

.mod_eventreader {

  .event {

  }

}

.event {

  .info {

  }

  .location {

  }

}

.mod_eventlist,
.mod_eventreader {
  margin-bottom: $margin-elements-bottom;
  position: relative;

  .layout_full,
  .layout_list,
  .layout_teaser,
  .layout_upcoming {
    @include clear();

    border-bottom: 1px solid $color-border;
    margin-bottom: 1rem;
    padding-bottom: .5rem;

    &:last-of-type {
      border-bottom: 0;
      margin-bottom: $margin-elements-bottom;
      padding-bottom: 0;
    }

  }

  .layout_full {

    .block {

      &:last-child {
        margin-bottom: 0;
      }

    }

  }

  .layout_list {

  }

  .layout_teaser {
    overflow: hidden;
  }

  .layout_upcoming {

  }

  .header {
    background-color: $color-input-bg;
    float: left;
    font-size: .875rem;
    margin-right: 1rem;
    padding: .25rem .5rem;
    text-align: center;
  }

  .day {
    display: block;
  }

  .location {
    margin-top: -2rem;
  }

}

@if ($rtl) {

  .mod_eventreader {

    .header {
      float: right;
      margin-left: 1rem;
    }

  }

}
