$login-bg-color: #f4f5f1;
$login-margin-bottom: $base-line-height * 1rem;
$login-padding: 5%;

$login-text-margin-bottom: 1rem;

.mod_login {
  background-color: $login-bg-color;
  margin-bottom: $login-margin-bottom;
  padding: $login-padding;

  .text {
    margin-bottom: $login-text-margin-bottom;
  }

  .login_info {

  }

}
