$lost-password-bg-color: #f4f5f1;
$lost-password-margin-bottom: $base-line-height * 1rem;
$lost-password-padding: 5%;

.mod_lostPassword {
  background-color: $lost-password-bg-color;
  margin-bottom: $lost-password-margin-bottom;
  padding: $lost-password-padding;
}
