nav {
  display: block;
}

.mod_navigation {

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a,
  span,
  strong {
    display: block;

    &:hover,
    &:focus {
      color: $color-primary;
    }

  }

  span,
  strong {

    &.active,
    &.trail {
      color: $color-primary;

      &:hover,
      &:focus {
        color: $color-primary-hover;
      }

    }

  }

}

.navigation_main {

  > ul {
    display: flex;
  }

  li {
    position: relative;

    &:hover {

      ul {
        display: block;
      }

    }

  }

  ul {

    ul {
      display: none;
      position: absolute;
    }

  }

  a,
  span,
  strong {
    padding: 0.25rem 0.5rem;
  }

}
