nav {
  display: block;
}

.mod_navigation {

  ul {
    @include list-unstyled();
  }

  a,
  span {
    color: $color;
    display: block;

    &:hover,
    &:focus {
      color: $color-primary;
    }

  }

  span.active,
  span.trail {
    color: $color-primary;

    &:hover,
    &:focus {
      color: $color-primary-hover;
    }

  }

}
