nav {
  display: block;
}

.mod_navigation {

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a,
  span {
    display: block;

    &:hover,
    &:focus {
      color: $color-primary;
    }

  }

  span.active,
  span.trail {
    color: $color-primary;

    &:hover,
    &:focus {
      color: $color-primary-hover;
    }

  }

}
