$subscribe-bg-color: #f4f5f1;
$subscribe-margin-bottom: $base-line-height * 1rem;
$subscribe-padding: 5%;

.mod_subscribe,
.mod_unsubscribe {
  background-color: $subscribe-bg-color;
  margin-bottom: $subscribe-margin-bottom;
  padding: $subscribe-padding;

  .formbody {
    display: flex;
  }

  .text {
    flex-grow: 1;
  }

}

.mod_subscribe {

}

.mod_unsubscribe {

}

.mod_nl_list {

  ul {

  }

  li {

  }

  a {

  }

}

.mod_nl_reader {

  .newsletter {

  }

  .enclosure {

    a {

    }

    .mime_icon {

    }

    .size {

    }

  }

}
