$news-info-font-size: .875rem;

$news-teaser-margin-bottom: 1rem;

$newsmenu-margin-bottom: $base-line-height * 1rem;

.mod_newsarchive {

}

.mod_newslist {

}

.mod_newsmenu {
  background-color: #f4f5f1;
  margin-bottom: $newsmenu-margin-bottom;
  padding: 5%;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    display: block;
  }

}

.mod_newsreader {

}

.mod_newsarchive,
.mod_newslist,
.mod_newsreader {
  position: relative;

  .layout_full,
  .layout_latest,
  .layout_simple,
  .layout_short {
    @include clear();
  }

  .layout_full {

    .block {

      &:last-child {
        margin-bottom: 0;
      }

    }

  }

  .layout_latest {

  }

  .layout_simple {

    time {
      display: block;
    }

    a {
      display: block;
    }

  }

  .layout_short {

  }

  .info {
    font-size: $news-info-font-size;
    margin: 0;
  }

  .teaser {
    margin-bottom: $news-teaser-margin-bottom;
    overflow: hidden;
  }

}
