$personal-data-bg-color: #f4f5f1;
$personal-data-margin-bottom: 1.5rem;
$personal-data-padding: 5%;

.mod_personalData {
  background-color: $personal-data-bg-color;
  margin-bottom: $personal-data-margin-bottom;
  padding: $personal-data-padding;
}

.fields {

}
