.mod_search {

  .formbody {
    display: flex;
  }

  .text,
  .submit {

  }

  .text {
    -webkit-appearance: textfield;
    flex-grow: 1;
  }

  .submit {

  }

  .header {
    font-size: .875rem;
  }

  > div {

    &.first {

    }

    &.last {

    }

    &.even {

    }

    &.odd {

    }

  }

  .relevance {
    font-size: .875rem;
  }

  .context {

  }

  .highlight {
    font-weight: 700;
  }

  .url {

  }

  .filezize {

  }

}
