// Base
$color: #282828;
$color-bg: #fff;

$color-primary: #3498db;
$color-primary-hover: darken($color-primary, 10%);

$color-confirmation: #27ae60;
$color-confirmation-hover: darken($color-confirmation, 10%);

$color-error: #e74c3c;
$color-error-hover: darken($color-error, 10%);

$color-information: #95a5a6;
$color-information-hover: darken($color-information, 10%);

$color-warning: #f1c40f;
$color-warning-hover: darken($color-warning, 10%);

$link-color: $color-primary;
$link-hover-color: darken($link-color, 10%);

$border-color: #c8c8c8;
$border-hover-color: darken($border-color, 10%);

// Elements
$input-bgcolor: #f7f7f7;
$input-color: $color;
