// Base Sizes
$base-bg-color: #fff;
$base-color: #5e5e5e;
$base-font-family: 'Source Sans Pro';
$base-font-family-fallback: sans-serif;
$base-font-size: .9375rem;
$base-font-weight: 400;
$base-line-height: 1.5;

// Grid
$grid-columns: 12;
$grid-gutter: 3%;
$grid-max-width: 64rem;
$grid-width: 90%;

// Media Queries
$media-xs: 30em;
$media-sm: 40em;
$media-md: 60em;
$media-lg: 78em;

// Paths
$path-fonts: '/files/THEME_NAME/fonts';
$path-img: '/files/THEME_NAME/img';

// Colors
$color-primary: #c3bf8f;
$color-primary-hover: darken($color-primary, 10%);

$color-confirmation: #27ae60;
$color-confirmation-hover: darken($color-confirmation, 10%);

$color-error: #e74c3c;
$color-error-hover: darken($color-error, 10%);

$color-information: #95a5a6;
$color-information-hover: darken($color-information, 10%);

$color-warning: #f1c40f;
$color-warning-hover: darken($color-warning, 10%);

$border-color: #c8c8c8;
$border-hover-color: darken($border-color, 10%);
