// Typography
$font-family: Arial;
$font-family-fallback: sans-serif;
$font-size: 1em;
$font-weight: 400;

$line-height: 1.5em;

$margin-elements-bottom: 2rem;

$z-index-submenu: 999;

$media-tiny: 30rem;
$media-small: 40rem;
$media-medium: 60rem;
$media-large: 78rem;

// Paths
$path-fonts: '/files/theme-name/fonts';
$path-img: '/files/theme-name/img';
